:root {
  max-width: 80rem;
  margin: 0 auto;

  height: 100dvh;
  background-image: linear-gradient(
    var(--darkBlue),
    var(--darkBlue),
    var(--brightBlue)
  );
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;

  list-style: none;

  line-height: 1.5;
  font-family: "Roboto", sans-serif;

  /*font-family: "Montserrat", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-family: "Young Serif", serif;*/

  /*colors*/
  --darkBlue: #1d2440;
  --lighterBlue: #484e63;
  --brightBlue: #3c359b;
  --brighgreen: #35949b;
  --white: #ffffff;
  --containerBackground: #d9d9d963;
}

*,
html,
body,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: 1s;
}

/*General*/

.containerFlagIcon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.flagIcon {
  filter: grayscale(40%);
  cursor: pointer;
}

.flagIcon:hover {
  filter: grayscale(0%);
  scale: 1.15;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--white);
}

h2 {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: var(--white);
}

.transparentContainer1 {
  background-color: var(--containerBackground);

  margin-bottom: 1rem;
  padding: 1rem;

  border-radius: 1rem;
}

.transparentContainer2 {
  background-color: var(--containerBackground);
  width: 23rem;
  margin: 1.25rem;
  padding: 0.5rem;

  border-radius: 1rem;
}

.transparentContainer3 {
  background-color: var(--containerBackground);

  padding: 1rem;

  border-radius: 1rem;
}

label {
  text-align: left;
  width: 100%;
  font-size: 0.875rem;
}

button {
  padding: 0.3rem 2rem 0.3rem 2rem;
  font-size: 1rem;
  border-radius: 2rem;
  border-style: none;
}

input {
  padding: 0.6rem;
  margin-bottom: 0.5rem;
  display: block;
  width: 100%;

  border-radius: 1rem;
  border-style: none;

  font-family: "Roboto Mono", monospace;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: var(--darkBlue);
  color: var(--white);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--darkBlue) transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/*NavBar*/
.wrapperNavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  position: sticky; /* Set the navbar to fixed position */
  padding: 1.5rem 3rem 1.5rem 3rem;
  background-color: var(--darkBlue);
}

/*About*/

.wrapperAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0.5rem;
  text-align: center;
  color: var(--white);
}

#profilePic {
  height: 8rem;
  border-radius: 5rem;
}

.wrapperAbout h1 {
  margin-bottom: 0;
}

.wrapperAbout h2 {
  font-family: "Roboto Mono", monospace;
  font-weight: 100;
}

.wrapperAbout img {
  height: 1.875rem;
}

.wrapperImgTitleAbout {
  display: flex;
}

.IconsAbout {
  width: 85%;
  margin-top: 1.25rem;
  display: flex;
  justify-content: space-around;
}

.wrapperAbout p {
  width: 100%;
  text-align: center;
  margin-top: 0.5rem;
  color: var(--white);
}

/*Projects*/

.wrapperProjects,
.wrapperContact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cardProjectContent h3 {
  font-size: 1.1875rem;
  width: 100%;
}

.cardProjectContent {
  padding: 0.5rem;
}

.cardProjectContent p {
  font-family: "Roboto Mono", monospace;
  color: var(--brightBlue);
}

.cardProject {
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 0 0.25rem 0.625rem 0.25rem;
  color: var(--darkBlue);

  width: 100%;

  border-radius: 1rem;
  background-color: #e7e7e7be;
}

.cardProject:hover {
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
}

.cardProject p {
  padding: 0 10px;
}

.cardProjectImage {
  width: 100%;

  border-radius: 1rem 1rem 0 0;
  filter: saturate(50%);
}

.cardProject h2 {
  font-weight: 100;
  text-align: center;
  text-wrap: pretty;
  margin: 2px 5px;
  width: 100%;
}

.projectIcons img {
  width: 2rem;

  margin-right: 0.8rem;
  margin-bottom: 0.2rem;
}

.cardProjectContent h4,
p {
  margin-top: 0.1875rem;
  width: 100%;
}

/*Contact*/
.wrapperForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  color: var(--darkBlue);
}

.wrapperForm button {
  margin-top: 0.2rem;
}

#message {
  padding: 2rem;

  margin-bottom: 0.5rem;
  display: block;
  width: 100%;

  border-radius: 1rem;
  border-style: none;
}

.sentButton:hover {
  cursor: pointer;
}

.transparentContainer3 {
  background-color: var(--containerBackground);
  padding-bottom: 1rem;
  border-radius: 1rem;

  width: 70%;
}

@media only screen and (min-width: 750px) {
  .transparentContainer3 {
    background-color: var(--containerBackground);
    padding-bottom: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    width: 70%;
  }

  .wrapperProjects {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
    width: 100%;
  }
  .cardProject {
    display: flex;
    flex-direction: row;

    margin: 0 0.3rem 0 0.3rem;
  }

  .cardProjectImage {
    border-radius: 5px 0 0 5px;
    object-fit: cover;
    width: 20%;
  }

  .cardProjectContent {
    padding: 0.5rem;
    margin: 2px;
    text-align: left;
  }

  .cardProject h2 {
    font-weight: 100;
    text-align: left;
    text-wrap: pretty;
    margin: 2px 14px;
  }

  .cardProject h3,
  p {
    margin-left: 1rem;
  }

  .mainContainer {
    margin-top: 0.5rem;
  }

  .containerAboutContact {
    display: flex;

    justify-content: space-between;
    width: 70%;
  }

  .contactView600Contact {
    display: none;
  }

  /*container alternativo contact*/
  .contactView700Contact {
    margin: 0.8rem 0 0.8rem 0;
    width: 50%;
  }

  .wrapperNavBar {
    display: none;
  }

  #h1Projects {
    margin-left: 1.5rem;
  }

  .projectIcons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .transparentContainer1 {
    background-color: var(--containerBackground);
    padding-bottom: 1rem;
    border-radius: 1rem;
    margin: 0.8rem 1rem 0.8rem 0;

    width: 50%;

    display: flex;
    flex-direction: column;
  }

  .transparentContainer1:hover,
  .transparentContainer2:hover,
  .transparentContainer3:hover {
    box-shadow: 0 0 20px 5px var(--brightBlue);
  }

  #message {
    padding: 1rem;
  }
}

@media only screen and (max-width: 749px) {
  #profilePic {
    height: 10rem;
  }

  .mainContainer {
    margin-top: 0.5rem;
  }
  .contactView700Contact {
    display: none;
  }

  .transparentContainer1 {
    width: fit-content;
  }

  .containerAboutContact {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .transparentContainer1 {
    width: 90%;
  }

  .transparentContainer3 {
    width: 90%;
  }

  .transparentContainer2 {
    width: 90%;
  }
}

@media only screen and (min-width: 1000px) {
  .cardProject {
    height: 8rem;
  }

  .projectIcons {
    margin-left: 5rem;
  }
}

@media only screen and (min-width: 1150px) {
  .projectIcons {
    margin-left: 11rem;
  }
}

@keyframes float {
  0% {
    transform: translateY(0) scale(1);
  }

  50% {
    transform: translateY(0) scale(1);
  }
  75% {
    transform: translateY(20px) scale(0.9);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}
